<h2> First Name: </h2>
<h2> Last Nam: </h2>
<h2> Email: </h2>
Password (password digest)
Phone Number
Short Bio
LinkedIn URL
Twitter Handle
Personal Blog/Website URL
Online Resume URL
Github URL
Photo
